.partial-wrap{
  border: 1px solid #088C6F;
  padding: 0;
  margin: 5px;
  margin-bottom: 15px;
  border-radius: 5px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2), -3px -1px 5px rgba(0, 0, 0, 0.09);
}

.partial-wrap:hover{
  box-shadow: 2px 1px 5px rgba(0, 0, 0, 0.19), -3px -1px 5px rgba(0, 0, 0, 0.09);
}

.partial-head{
  background: #088C6F;
  margin: 0;
  padding-top: 10px;
  padding-bottom: 2px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.partial-head p{
  text-align: center;
  font-size: 1.2em;
  font-weight: bold;
  color: #fff;
}

.partial-body{
  padding: 5% 2%;
  background: #fff;
  max-height: 460px;
  overflow: auto;
}

.partial-bottom{
  border-top: 1px solid rgba(0, 0, 0, 0.4);
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.partial-body ul{
  margin: 0;
  padding: 5px;
}

.partial-body li{
  list-style-type: none;
  padding: 10px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
}

.partial-body li:hover{
  background-color: rgba(0, 0, 0, 0.04);
}

.partial-body li i{
  cursor: pointer;
  font-size: 1.5em;
  margin: 2px;
  transition: all 0.2s;
}

.partial-body li i:hover{
  transform: scale(1.5);
}

.btn{
  background: #CF0A2C;
  color: white;
  border: 1px solid #CF0A2C;
  padding: 4px 16px;
  border-radius: 4px;
  margin-top: 10px;
}

.btn:hover{
  box-shadow: 2px 3px 10px rgba(0, 0, 0, 0.35);
  background: #AB1212;
  color: white;
}